header {
    background-color: rgba(44, 44, 44, 0.05);
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px blue;
}

.profile-picture {
    width: 150px;
    height: 150px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 auto;
    transition: .5s;
}

.profile-picture:hover {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.75);
}

.username {
    margin-top: 10px;
    color: #5e94ff;
}

main {
    padding: 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
    color: #5e94ff;
    margin-bottom: 20px;
    font-weight: bolder;
}

.followers,
.following {
    text-align: center;
}

.stat-label,
.food h2,
.about h2 {
    color: #555555;
}

.about h2,
.food h2 {
    text-decoration: solid underline #5555555b;
}

.stat-value {
    color: #5e94ff;
}

.food-list {
    padding: 10px;
}

.food {
    max-width: 800px;
    margin: 10px auto 10px auto;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.food div {
    width: 100%;
    display: flex;
    align-items: center;
}

.food div h2 {
    text-align: left;
    width: 100%;
}

.food .food-edit {
    width: min-content;
    height: min-content;
}

.food-edit img {
    width: 20px;
    height: 20px;
}

.food>img {
    max-height: 17.5rem;
}

@media only screen and (max-width: 600px) {
    .profile-picture {
        width: 100px;
        height: 100px;
    }
    .food>img {
        height: 200px;
    }
}